body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

#featured-property {
  text-align: center;
}

#featured-property figcaption {
  font-size: 12px;
}

nav a {
  padding: 0px 10px;
  background-color: #ccc;
}
